@keyframes bounce {
    0%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-5px);
    }
}

.Dot1, .Dot2, .Dot3 {
    animation: bounce 1s infinite;
}

.Dot1 {
    animation-delay: 0.2s;
}

.Dot2 {
    animation-delay: 0.4s;
}

.Dot3 {
    animation-delay: 0.6s;
}

@keyframes gradient {
    0% {
        background: #e0d4e6;
    }
    50% {
        background: #e4d2e9;
    }
    100% {
        background: #f1d3f8;
    }
}

.next-button:hover div {
    animation: gradient 1s infinite;
}