<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>바다거북수프 문제풀이</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="top-menu">
        <a id="title">바다거북스프</a>
        <div id="menus">
            <div onclick="location.href='/';">Home</div>
            <div>About</div>
            <div>Rules</div>
        </div>
    </div>
    <hr>
    <div id="gallery">
        {% for i in range(steps|length) %}
        {% if i==3 %}
        <div id="quiz_title_{{i+1}}" class="quiz_title">{{steps[i]["label"]}}</div>
        {% else %}
        <div id="quiz_title_{{i+1}}" class="quiz_title" style="display:none;">{{steps[i]["label"]}}</div>
        {% endif %}
        {% endfor %}
        <div id="steps">
            {% for i in range(steps|length) %}
            {% if i<7 %}
            <div id="quiz_pic_{{i+1}}" class="quiz_pic" style="background-image: url('/static/images/step_{{i+1}}.jpg');"></div>
            {% else %}
            <div id="quiz_pic_{{i+1}}" class="quiz_pic" style="background-image: url('/static/images/step_{{i+1}}.jpg'); display:none;"></div>
            {% endif %}
            {% endfor %}
        </div>
        <div id="quiz_start">
            <input id="quiz_prompt" type="text">
            <div id="submit_button">전송</div>
        </div>
        {% for i in range(steps|length) %}
        {% if i==3 %}
        <div id="quiz_content_{{i+1}}" class="quiz_content">{{steps[i]["problem"]}}</div>
        {% else %}
        <div id="quiz_content_{{i+1}}" class="quiz_content" style="display:none;">{{steps[i]["problem"]}}</div>
        {% endif %}
        {% endfor %}
    </div>
    <script>
        const container = document.querySelector('#steps');
        document.addEventListener('keydown',(e)=>{
            const slides = container.children;
            if (e.code=="ArrowRight"){
                slides[0].setAttribute("style",slides[0].getAttribute("style")+" display: None;");
                slides[7].setAttribute("style",slides[7].getAttribute("style").split(";")[0]+";");
                container.append(slides[0]);
                const contid = parseInt(slides[3].getAttribute("id").split("_")[2]);
                document.querySelector("#quiz_title_"+contid.toString()).removeAttribute("style");
                document.querySelector("#quiz_content_"+contid.toString()).removeAttribute("style");
                if (contid-1<1){
                    document.querySelector("#quiz_title_"+(container.children.length).toString()).setAttribute("style","display:none;");
                    document.querySelector("#quiz_content_"+(container.children.length).toString()).setAttribute("style","display:none;");
                } else {
                    document.querySelector("#quiz_title_"+(contid-1).toString()).setAttribute("style","display:none;");
                    document.querySelector("#quiz_content_"+(contid-1).toString()).setAttribute("style","display:none;");
                }
            }
            if (e.code=="ArrowLeft"){
                container.prepend(slides[slides.length-1]);
                slides[7].setAttribute("style",slides[7].getAttribute("style")+" display: None;");
                slides[0].setAttribute("style",slides[0].getAttribute("style").split(";")[0]+";");
                const contid = parseInt(slides[3].getAttribute("id").split("_")[2]);
                console.log(contid);
                document.querySelector("#quiz_title_"+contid.toString()).removeAttribute("style");
                document.querySelector("#quiz_content_"+contid.toString()).removeAttribute("style");
                if (contid+1>container.children.length){
                    document.querySelector("#quiz_title_1").setAttribute("style","display:none;");
                    document.querySelector("#quiz_content_1").setAttribute("style","display:none;");
                } else {
                    document.querySelector("#quiz_title_"+(contid+1).toString()).setAttribute("style","display:none;");
                    document.querySelector("#quiz_content_"+(contid+1).toString()).setAttribute("style","display:none;");
                }
            }
        });
        document.querySelector("#submit_button").addEventListener("click",(e)=>{
            const slides = container.children;
            const contid = slides[3].getAttribute("id").split("_")[2];
            location.href="/step/"+contid
        });
        document.querySelector("#quiz_prompt").addEventListener("keydown",(e)=>{
            if(e.code=="Enter"){
                
            }
        });
    </script>
</body>
</html>